body {
    margin: 0px;
    font-family: cursive;
    font-weight: bolder;    
    background-color:darkgray;
    width: 800px;
    text-align: center;

}

.logo {
    background-color: darkgreen;
    display: block;
    float: left;
    width: 25%;text-align: center;


}
.menu {
    background-color: darkorange;
    float: right;
    width: 75%;
    text-align: center;
    height: 100px;
}

.conteudo{
    background-color: darkorchid;
    text-align:center;
    height: 100px;

}
.rodape {
    background-color: white;
    text-align: center;
    clear: both;
}
